@import url("https://fonts.googleapis.com/css2?family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700%3B0%2C900&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-rTMa6iLBO: 1px;
  --plasmic-token-unnamed-style-token: var(--token-rTMa6iLBO);
}

.plasmic_default_styles {
  --mixin-FBJdBej4lKSZ_font-family: "Roboto";
  --mixin-FBJdBej4lKSZ_font-size: 16px;
  --mixin-FBJdBej4lKSZ_font-weight: 400;
  --mixin-FBJdBej4lKSZ_font-style: normal;
  --mixin-FBJdBej4lKSZ_color: #535353;
  --mixin-FBJdBej4lKSZ_text-align: left;
  --mixin-FBJdBej4lKSZ_text-transform: none;
  --mixin-FBJdBej4lKSZ_line-height: 1.5;
  --mixin-FBJdBej4lKSZ_letter-spacing: normal;
  --mixin-FBJdBej4lKSZ_white-space: pre-wrap;
  --mixin-FBJdBej4lKSZ_user-select: text;
  --mixin-FBJdBej4lKSZ_text-decoration-line: none;
  --mixin-FBJdBej4lKSZ_text-overflow: clip;
  --mixin-TsBTtLYLJuDB_color: #000000;
  --mixin-TsBTtLYLJuDB_font-weight: 900;
  --mixin-TsBTtLYLJuDB_font-size: 72px;
  --mixin-TsBTtLYLJuDB_line-height: 1;
  --mixin-TsBTtLYLJuDB_letter-spacing: -4px;
  --mixin-bu0A0gW8WwU__font-family: "Inter";
  --mixin-bu0A0gW8WwU__color: #000000;
  --mixin-bu0A0gW8WwU__font-size: 48px;
  --mixin-bu0A0gW8WwU__font-weight: 700;
  --mixin-bu0A0gW8WwU__letter-spacing: -1px;
  --mixin-bu0A0gW8WwU__line-height: 1.1;
  --mixin-NL4p5Svj9GcD_color: #0070f3;
  --mixin-1CajIgMW8Qic_font-family: "Inter";
  --mixin-1CajIgMW8Qic_color: #000000;
  --mixin-1CajIgMW8Qic_font-size: 32px;
  --mixin-1CajIgMW8Qic_font-weight: 600;
  --mixin-1CajIgMW8Qic_letter-spacing: -0.8px;
  --mixin-1CajIgMW8Qic_line-height: 1.2;
  --mixin-_AY49JYT2EpM_font-family: "Inter";
  --mixin-_AY49JYT2EpM_color: #000000;
  --mixin-_AY49JYT2EpM_font-size: 24px;
  --mixin-_AY49JYT2EpM_font-weight: 600;
  --mixin-_AY49JYT2EpM_letter-spacing: -0.5px;
  --mixin-_AY49JYT2EpM_line-height: 1.3;
  --mixin-IgiXvfObxaiQ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-IgiXvfObxaiQ_border-bottom-color: #dddddd;
  --mixin-IgiXvfObxaiQ_border-bottom-style: solid;
  --mixin-IgiXvfObxaiQ_border-bottom-width: 1px;
  --mixin-IgiXvfObxaiQ_border-left-color: #dddddd;
  --mixin-IgiXvfObxaiQ_border-left-style: solid;
  --mixin-IgiXvfObxaiQ_border-left-width: 1px;
  --mixin-IgiXvfObxaiQ_border-right-color: #dddddd;
  --mixin-IgiXvfObxaiQ_border-right-style: solid;
  --mixin-IgiXvfObxaiQ_border-right-width: 1px;
  --mixin-IgiXvfObxaiQ_border-top-color: #dddddd;
  --mixin-IgiXvfObxaiQ_border-top-style: solid;
  --mixin-IgiXvfObxaiQ_border-top-width: 1px;
  --mixin-IgiXvfObxaiQ_border-bottom-left-radius: 3px;
  --mixin-IgiXvfObxaiQ_border-bottom-right-radius: 3px;
  --mixin-IgiXvfObxaiQ_border-top-left-radius: 3px;
  --mixin-IgiXvfObxaiQ_border-top-right-radius: 3px;
  --mixin-IgiXvfObxaiQ_font-family: "Inconsolata";
  --mixin-IgiXvfObxaiQ_padding-bottom: 1px;
  --mixin-IgiXvfObxaiQ_padding-left: 4px;
  --mixin-IgiXvfObxaiQ_padding-right: 4px;
  --mixin-IgiXvfObxaiQ_padding-top: 1px;
  --mixin-jouy2f_w7nMY_border-left-color: #dddddd;
  --mixin-jouy2f_w7nMY_border-left-style: solid;
  --mixin-jouy2f_w7nMY_border-left-width: 3px;
  --mixin-jouy2f_w7nMY_color: #888888;
  --mixin-jouy2f_w7nMY_padding-left: 10px;
  --mixin-Jz_jv8w-P_Ko_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Jz_jv8w-P_Ko_border-bottom-color: #dddddd;
  --mixin-Jz_jv8w-P_Ko_border-bottom-style: solid;
  --mixin-Jz_jv8w-P_Ko_border-bottom-width: 1px;
  --mixin-Jz_jv8w-P_Ko_border-left-color: #dddddd;
  --mixin-Jz_jv8w-P_Ko_border-left-style: solid;
  --mixin-Jz_jv8w-P_Ko_border-left-width: 1px;
  --mixin-Jz_jv8w-P_Ko_border-right-color: #dddddd;
  --mixin-Jz_jv8w-P_Ko_border-right-style: solid;
  --mixin-Jz_jv8w-P_Ko_border-right-width: 1px;
  --mixin-Jz_jv8w-P_Ko_border-top-color: #dddddd;
  --mixin-Jz_jv8w-P_Ko_border-top-style: solid;
  --mixin-Jz_jv8w-P_Ko_border-top-width: 1px;
  --mixin-Jz_jv8w-P_Ko_border-bottom-left-radius: 3px;
  --mixin-Jz_jv8w-P_Ko_border-bottom-right-radius: 3px;
  --mixin-Jz_jv8w-P_Ko_border-top-left-radius: 3px;
  --mixin-Jz_jv8w-P_Ko_border-top-right-radius: 3px;
  --mixin-Jz_jv8w-P_Ko_font-family: "Inconsolata";
  --mixin-Jz_jv8w-P_Ko_padding-bottom: 3px;
  --mixin-Jz_jv8w-P_Ko_padding-left: 6px;
  --mixin-Jz_jv8w-P_Ko_padding-right: 6px;
  --mixin-Jz_jv8w-P_Ko_padding-top: 3px;
  --mixin-JjscNr6vPH0__display: flex;
  --mixin-JjscNr6vPH0__flex-direction: column;
  --mixin-JjscNr6vPH0__align-items: stretch;
  --mixin-JjscNr6vPH0__justify-content: flex-start;
  --mixin-JjscNr6vPH0__list-style-position: outside;
  --mixin-JjscNr6vPH0__padding-left: 40px;
  --mixin-JjscNr6vPH0__position: relative;
  --mixin-JjscNr6vPH0__list-style-type: disc;
  --mixin-YZHdbqVLslWwU_display: flex;
  --mixin-YZHdbqVLslWwU_flex-direction: column;
  --mixin-YZHdbqVLslWwU_align-items: stretch;
  --mixin-YZHdbqVLslWwU_justify-content: flex-start;
  --mixin-YZHdbqVLslWwU_list-style-position: outside;
  --mixin-YZHdbqVLslWwU_padding-left: 40px;
  --mixin-YZHdbqVLslWwU_position: relative;
  --mixin-YZHdbqVLslWwU_list-style-type: decimal;
  --mixin-o5eNMg0DAhVLC_font-family: "Inter";
  --mixin-o5eNMg0DAhVLC_color: #000000;
  --mixin-o5eNMg0DAhVLC_font-size: 20px;
  --mixin-o5eNMg0DAhVLC_font-weight: 600;
  --mixin-o5eNMg0DAhVLC_letter-spacing: -0.3px;
  --mixin-o5eNMg0DAhVLC_line-height: 1.5;
  --mixin-a3K0qXm5hnlO5_font-family: "Inter";
  --mixin-a3K0qXm5hnlO5_color: #000000;
  --mixin-a3K0qXm5hnlO5_font-size: 16px;
  --mixin-a3K0qXm5hnlO5_font-weight: 600;
  --mixin-a3K0qXm5hnlO5_line-height: 1.5;
  --mixin-oCEoUWaB64HwZ_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-FBJdBej4lKSZ_font-family);
  font-size: var(--mixin-FBJdBej4lKSZ_font-size);
  font-weight: var(--mixin-FBJdBej4lKSZ_font-weight);
  font-style: var(--mixin-FBJdBej4lKSZ_font-style);
  color: var(--mixin-FBJdBej4lKSZ_color);
  text-align: var(--mixin-FBJdBej4lKSZ_text-align);
  text-transform: var(--mixin-FBJdBej4lKSZ_text-transform);
  line-height: var(--mixin-FBJdBej4lKSZ_line-height);
  letter-spacing: var(--mixin-FBJdBej4lKSZ_letter-spacing);
  white-space: var(--mixin-FBJdBej4lKSZ_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-TsBTtLYLJuDB_color);
  font-weight: var(--mixin-TsBTtLYLJuDB_font-weight);
  font-size: var(--mixin-TsBTtLYLJuDB_font-size);
  line-height: var(--mixin-TsBTtLYLJuDB_line-height);
  letter-spacing: var(--mixin-TsBTtLYLJuDB_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-bu0A0gW8WwU__font-family);
  color: var(--mixin-bu0A0gW8WwU__color);
  font-size: var(--mixin-bu0A0gW8WwU__font-size);
  font-weight: var(--mixin-bu0A0gW8WwU__font-weight);
  letter-spacing: var(--mixin-bu0A0gW8WwU__letter-spacing);
  line-height: var(--mixin-bu0A0gW8WwU__line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-NL4p5Svj9GcD_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-1CajIgMW8Qic_font-family);
  color: var(--mixin-1CajIgMW8Qic_color);
  font-size: var(--mixin-1CajIgMW8Qic_font-size);
  font-weight: var(--mixin-1CajIgMW8Qic_font-weight);
  letter-spacing: var(--mixin-1CajIgMW8Qic_letter-spacing);
  line-height: var(--mixin-1CajIgMW8Qic_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-_AY49JYT2EpM_font-family);
  color: var(--mixin-_AY49JYT2EpM_color);
  font-size: var(--mixin-_AY49JYT2EpM_font-size);
  font-weight: var(--mixin-_AY49JYT2EpM_font-weight);
  letter-spacing: var(--mixin-_AY49JYT2EpM_letter-spacing);
  line-height: var(--mixin-_AY49JYT2EpM_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-IgiXvfObxaiQ_background);
  font-family: var(--mixin-IgiXvfObxaiQ_font-family);
  border-radius: var(--mixin-IgiXvfObxaiQ_border-top-left-radius)
    var(--mixin-IgiXvfObxaiQ_border-top-right-radius)
    var(--mixin-IgiXvfObxaiQ_border-bottom-right-radius)
    var(--mixin-IgiXvfObxaiQ_border-bottom-left-radius);
  padding: var(--mixin-IgiXvfObxaiQ_padding-top)
    var(--mixin-IgiXvfObxaiQ_padding-right)
    var(--mixin-IgiXvfObxaiQ_padding-bottom)
    var(--mixin-IgiXvfObxaiQ_padding-left);
  border-top: var(--mixin-IgiXvfObxaiQ_border-top-width)
    var(--mixin-IgiXvfObxaiQ_border-top-style)
    var(--mixin-IgiXvfObxaiQ_border-top-color);
  border-right: var(--mixin-IgiXvfObxaiQ_border-right-width)
    var(--mixin-IgiXvfObxaiQ_border-right-style)
    var(--mixin-IgiXvfObxaiQ_border-right-color);
  border-bottom: var(--mixin-IgiXvfObxaiQ_border-bottom-width)
    var(--mixin-IgiXvfObxaiQ_border-bottom-style)
    var(--mixin-IgiXvfObxaiQ_border-bottom-color);
  border-left: var(--mixin-IgiXvfObxaiQ_border-left-width)
    var(--mixin-IgiXvfObxaiQ_border-left-style)
    var(--mixin-IgiXvfObxaiQ_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-jouy2f_w7nMY_color);
  padding-left: var(--mixin-jouy2f_w7nMY_padding-left);
  border-left: var(--mixin-jouy2f_w7nMY_border-left-width)
    var(--mixin-jouy2f_w7nMY_border-left-style)
    var(--mixin-jouy2f_w7nMY_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-Jz_jv8w-P_Ko_background);
  font-family: var(--mixin-Jz_jv8w-P_Ko_font-family);
  border-radius: var(--mixin-Jz_jv8w-P_Ko_border-top-left-radius)
    var(--mixin-Jz_jv8w-P_Ko_border-top-right-radius)
    var(--mixin-Jz_jv8w-P_Ko_border-bottom-right-radius)
    var(--mixin-Jz_jv8w-P_Ko_border-bottom-left-radius);
  padding: var(--mixin-Jz_jv8w-P_Ko_padding-top)
    var(--mixin-Jz_jv8w-P_Ko_padding-right)
    var(--mixin-Jz_jv8w-P_Ko_padding-bottom)
    var(--mixin-Jz_jv8w-P_Ko_padding-left);
  border-top: var(--mixin-Jz_jv8w-P_Ko_border-top-width)
    var(--mixin-Jz_jv8w-P_Ko_border-top-style)
    var(--mixin-Jz_jv8w-P_Ko_border-top-color);
  border-right: var(--mixin-Jz_jv8w-P_Ko_border-right-width)
    var(--mixin-Jz_jv8w-P_Ko_border-right-style)
    var(--mixin-Jz_jv8w-P_Ko_border-right-color);
  border-bottom: var(--mixin-Jz_jv8w-P_Ko_border-bottom-width)
    var(--mixin-Jz_jv8w-P_Ko_border-bottom-style)
    var(--mixin-Jz_jv8w-P_Ko_border-bottom-color);
  border-left: var(--mixin-Jz_jv8w-P_Ko_border-left-width)
    var(--mixin-Jz_jv8w-P_Ko_border-left-style)
    var(--mixin-Jz_jv8w-P_Ko_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-JjscNr6vPH0__display);
  flex-direction: var(--mixin-JjscNr6vPH0__flex-direction);
  align-items: var(--mixin-JjscNr6vPH0__align-items);
  justify-content: var(--mixin-JjscNr6vPH0__justify-content);
  list-style-position: var(--mixin-JjscNr6vPH0__list-style-position);
  padding-left: var(--mixin-JjscNr6vPH0__padding-left);
  position: var(--mixin-JjscNr6vPH0__position);
  list-style-type: var(--mixin-JjscNr6vPH0__list-style-type);
  flex-column-gap: var(--mixin-JjscNr6vPH0__flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-YZHdbqVLslWwU_display);
  flex-direction: var(--mixin-YZHdbqVLslWwU_flex-direction);
  align-items: var(--mixin-YZHdbqVLslWwU_align-items);
  justify-content: var(--mixin-YZHdbqVLslWwU_justify-content);
  list-style-position: var(--mixin-YZHdbqVLslWwU_list-style-position);
  padding-left: var(--mixin-YZHdbqVLslWwU_padding-left);
  position: var(--mixin-YZHdbqVLslWwU_position);
  list-style-type: var(--mixin-YZHdbqVLslWwU_list-style-type);
  flex-column-gap: var(--mixin-YZHdbqVLslWwU_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-o5eNMg0DAhVLC_font-family);
  color: var(--mixin-o5eNMg0DAhVLC_color);
  font-size: var(--mixin-o5eNMg0DAhVLC_font-size);
  font-weight: var(--mixin-o5eNMg0DAhVLC_font-weight);
  letter-spacing: var(--mixin-o5eNMg0DAhVLC_letter-spacing);
  line-height: var(--mixin-o5eNMg0DAhVLC_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-a3K0qXm5hnlO5_font-family);
  color: var(--mixin-a3K0qXm5hnlO5_color);
  font-size: var(--mixin-a3K0qXm5hnlO5_font-size);
  font-weight: var(--mixin-a3K0qXm5hnlO5_font-weight);
  line-height: var(--mixin-a3K0qXm5hnlO5_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-oCEoUWaB64HwZ_color);
}
