.root2 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root2 > :global(.__wab_flex-container) > *,
.root2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root2 > :global(.__wab_flex-container) > picture > img,
.root2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 0px;
}
.hero {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 100%;
  background: none;
  margin-top: calc(50px + 0px) !important;
  min-width: 0;
  padding: 20px 24px 0px;
}
.hero > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.hero > :global(.__wab_flex-container) > *,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.hero > :global(.__wab_flex-container) > picture > img,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 16px;
}
.freeBox__jrg3G {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 800px;
  background: none;
  align-self: center;
  margin-top: calc(0px + 16px) !important;
  margin-bottom: 15px;
  min-width: 0;
  padding: 8px;
}
.text__sYHd6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-weight: 900;
  font-size: 1.3em;
  color: #959595;
  min-width: 0;
}
.text__c9Tc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.h1 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
}
.whatWeDoStack {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.text__xg7Z8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-weight: 500;
  font-size: 1.3em;
  color: #272727;
  margin-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xg7Z8 {
    display: none;
  }
}
.img__npSyx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 400px;
}
.img__npSyx > picture > img {
  object-fit: cover;
}
.img__npSyx > .__wab_img-spacer > img {
  object-fit: cover;
}
.link {
  display: flex;
  color: #0070f3;
}
.button__wGjHd {
  flex-direction: row;
  min-width: 100px;
  background: #e54d2e;
  display: flex;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.1s;
  border-radius: 0.4em;
  padding: 12px 16px 12px 20px;
  border-width: 0px;
}
.button__wGjHd > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.button__wGjHd > :global(.__wab_flex-container) > *,
.button__wGjHd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button__wGjHd > :global(.__wab_flex-container) > picture > img,
.button__wGjHd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.startIconContainer2 {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  display: none;
}
.slotTargetStartIcon2 {
  color: #ededec;
}
.svg__dFmX {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
.contentContainer2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.slotTargetChildren2 {
  color: #ffffff;
  font-weight: 500;
  white-space: pre;
}
.endIconContainer2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.slotTargetEndIcon2 {
  color: #ededec;
}
.svg__gyya0 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
.features {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 1300px;
  background: none;
  margin-top: calc(90px + 0px) !important;
  min-width: 0;
  padding: 8px 1.2em;
}
.logos {
  flex-direction: column;
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 0px;
  padding-bottom: 50px;
  min-width: 0;
  margin: 0px;
}
.logos > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 60px);
  height: calc(100% + 60px);
}
.logos > :global(.__wab_flex-container) > *,
.logos > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logos > :global(.__wab_flex-container) > picture > img,
.logos > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 60px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logos {
    width: 100%;
    align-self: auto;
    height: 100%;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .logos > :global(.__wab_flex-container) {
    min-height: 0;
  }
}
.logoContainer {
  flex-direction: row;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 90%;
  padding-bottom: 0px;
}
.logoContainer > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.logoContainer > :global(.__wab_flex-container) > *,
.logoContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logoContainer > :global(.__wab_flex-container) > picture > img,
.logoContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logoContainer {
    left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .logoContainer > :global(.__wab_flex-container) {
    align-content: flex-start;
    justify-content: center;
  }
}
.columns___3NNxU {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___3NNxU > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
.columns___3NNxU > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___3NNxU {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___3NNxU > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__sqy1G {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__azc9V {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  min-width: 0;
}
.testimonialText {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.1;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .testimonialText {
    max-width: 100%;
    font-size: 30px;
  }
}
.cs:global(.__wab_instance) {
  position: relative;
  margin-top: 0px;
}
.column__xnqxn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.youTube:global(.__wab_instance) {
  height: 390px;
  width: 640px;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
  border-radius: 25px;
}
.freeBox___2XvDy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  max-width: 100%;
  width: 1350px;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2XvDy {
    width: 100%;
    min-width: 0;
  }
}
.columns__ctTdy {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  margin-top: 40px;
  min-width: 0;
  padding: 8px;
}
.columns__ctTdy > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.columns__ctTdy > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * 20px) * 12 / 12);
}
.columns__ctTdy > :global(.__wab_flex-container) > *,
.columns__ctTdy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ctTdy > :global(.__wab_flex-container) > picture > img,
.columns__ctTdy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ctTdy {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ctTdy > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ctTdy > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 20px) * 12 / 12);
  }
}
.column__upT8E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__iUf7B {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 656px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.testimonialText6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.1;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .testimonialText6 {
    max-width: 100%;
    font-size: 30px;
  }
}
.button__b89Mv:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-end;
  margin-top: 16px;
}
.button__a1Sog {
  flex-direction: row;
  min-width: 100px;
  background: #e54d2e;
  display: flex;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.1s;
  border-radius: 0.4em;
  padding: 12px 16px 12px 20px;
  border-width: 0px;
}
.button__a1Sog > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.button__a1Sog > :global(.__wab_flex-container) > *,
.button__a1Sog > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button__a1Sog > :global(.__wab_flex-container) > picture > img,
.button__a1Sog
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.startIconContainer {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  display: none;
}
.slotTargetStartIcon {
  color: #ededec;
}
.svg__tgiy5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
.contentContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.slotTargetChildren {
  color: #ffffff;
  font-weight: 500;
  white-space: pre;
}
.endIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.slotTargetEndIcon {
  color: #ededec;
}
.svg__uq8Jn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
.computerScreenSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-top: 40px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .computerScreenSection {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    left: auto;
    top: auto;
    flex-column-gap: 0px;
    margin: auto;
  }
}
.twoSideBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  max-width: 100%;
  width: 1350px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .twoSideBox {
    margin-top: 0px;
    width: 100%;
  }
}
.freeBox___9JDci {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px 8px 52px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9JDci {
    align-self: auto;
    margin-top: 0px;
    display: flex;
  }
}
.freeBox__qrnRu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qrnRu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    flex-column-gap: 0px;
  }
}
.freeBox__fx8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.freeBox___5Jph0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  background: none;
  padding: 8px;
}
.freeBox__tB0O3 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 8px;
}
.freeBox__tB0O3 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__tB0O3 > :global(.__wab_flex-container) > *,
.freeBox__tB0O3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tB0O3 > :global(.__wab_flex-container) > picture > img,
.freeBox__tB0O3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.svg__vCuob {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #0cd011;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text___2RLjj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 793px;
  font-size: 1.6em;
  font-weight: 700;
  align-self: auto;
  min-width: 0;
}
.freeBox___3U4Lm {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 8px;
}
.freeBox___3U4Lm > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox___3U4Lm > :global(.__wab_flex-container) > *,
.freeBox___3U4Lm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3U4Lm > :global(.__wab_flex-container) > picture > img,
.freeBox___3U4Lm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.svg___4TvKj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #0cd011;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__g9Zyd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 793px;
  font-size: 1.6em;
  font-weight: 700;
  align-self: auto;
  min-width: 0;
}
.freeBox__fttzX {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 8px;
}
.freeBox__fttzX > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__fttzX > :global(.__wab_flex-container) > *,
.freeBox__fttzX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fttzX > :global(.__wab_flex-container) > picture > img,
.freeBox__fttzX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.svg__nTqYx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #0cd011;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text___1IIuH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 793px;
  font-size: 1.6em;
  font-weight: 700;
  align-self: auto;
  min-width: 0;
}
.freeBox__ycMut {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 8px;
}
.freeBox__ycMut > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__ycMut > :global(.__wab_flex-container) > *,
.freeBox__ycMut > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ycMut > :global(.__wab_flex-container) > picture > img,
.freeBox__ycMut
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.svg__lBhsz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #0cd011;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__ed90N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 793px;
  font-size: 1.6em;
  font-weight: 700;
  align-self: auto;
  min-width: 0;
}
.freeBox__enubI {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 8px;
}
.freeBox__enubI > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__enubI > :global(.__wab_flex-container) > *,
.freeBox__enubI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__enubI > :global(.__wab_flex-container) > picture > img,
.freeBox__enubI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.svg__k0Zyv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #0cd011;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text___9MMms {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 793px;
  font-size: 1.6em;
  font-weight: 700;
  align-self: auto;
  min-width: 0;
}
.text__kmP8X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  align-self: center;
  font-weight: 900;
  font-size: 1.6em;
  color: #000000;
  margin-bottom: 32px;
  min-width: 0;
}
.signatureSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  margin-top: 63px;
  min-width: 0;
  padding: 0px;
}
.columns__mjqfk {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__mjqfk > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
}
.columns__mjqfk > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__mjqfk > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__mjqfk > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mjqfk {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mjqfk > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mjqfk > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mjqfk > :global(.__wab_flex-container) > *,
  .columns__mjqfk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__mjqfk > :global(.__wab_flex-container) > picture > img,
  .columns__mjqfk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 40px;
  }
}
.column__k4D7C {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___4Fn0Z {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 10px;
}
.img___4Fn0Z > picture > img {
  object-fit: cover;
}
.img___4Fn0Z > .__wab_img-spacer > img {
  object-fit: cover;
}
.text___5CfDb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column___8GnbC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__lzaLn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 10px;
}
.img__lzaLn > picture > img {
  object-fit: cover;
}
.img__lzaLn > .__wab_img-spacer > img {
  object-fit: cover;
}
.text___8Nq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column___9Wjnh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__girAx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 10px;
}
.img__girAx > picture > img {
  object-fit: cover;
}
.img__girAx > .__wab_img-spacer > img {
  object-fit: cover;
}
.text___4CKEv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.generateFastVideo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  align-self: auto;
  margin-top: 40px;
  min-width: 0;
  padding: 0px;
}
.freeBox__zgxn7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  max-width: 100%;
  width: 1350px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zgxn7 {
    width: 100%;
    min-width: 0;
  }
}
.columns___8RCws {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns___8RCws > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.columns___8RCws > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * 20px) * 12 / 12);
}
.columns___8RCws > :global(.__wab_flex-container) > *,
.columns___8RCws > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___8RCws > :global(.__wab_flex-container) > picture > img,
.columns___8RCws
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8RCws {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8RCws > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8RCws > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 20px) * 12 / 12);
  }
}
.column__ac4MJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__brkL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.testimonialText3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1032px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.1;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .testimonialText3 {
    max-width: 100%;
    font-size: 30px;
  }
}
.button___9Ag9R:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-start;
  margin-top: 16px;
}
.columns__cJvqT {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__cJvqT > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__cJvqT > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__cJvqT > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cJvqT {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cJvqT > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___1A3I {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__kAejM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__kAejM > picture > img {
  object-fit: cover;
}
.img__kAejM > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__yyYva {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__q199H {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__q199H > picture > img {
  object-fit: cover;
}
.img__q199H > .__wab_img-spacer > img {
  object-fit: cover;
}
.column___0DoS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___287Vh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___287Vh > picture > img {
  object-fit: cover;
}
.img___287Vh > .__wab_img-spacer > img {
  object-fit: cover;
}
.restOfSite {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
}
.lastFeature {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  align-self: auto;
  margin-top: 40px;
  min-width: 0;
  display: none;
  padding: 0px;
}
.freeBox__euSoq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  max-width: 100%;
  width: 1350px;
  align-self: center;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__euSoq {
    width: 100%;
    min-width: 0;
  }
}
.columns__fHjGr {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__fHjGr > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.columns__fHjGr > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 20px) * 6 / 12);
}
.columns__fHjGr > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 20px) * 6 / 12);
}
.columns__fHjGr > :global(.__wab_flex-container) > *,
.columns__fHjGr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__fHjGr > :global(.__wab_flex-container) > picture > img,
.columns__fHjGr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fHjGr {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fHjGr > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fHjGr > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 20px) * 12 / 12);
  }
}
.column__gtSgW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__htxS6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.testimonialText4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.1;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .testimonialText4 {
    max-width: 100%;
    font-size: 30px;
    text-align: center;
  }
}
.position4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  line-height: 1.5;
  padding-top: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .position4 {
    text-align: center;
  }
}
.column__t3T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__ks89H {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 400px;
}
.img__ks89H > picture > img {
  object-fit: cover;
}
.img__ks89H > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ks89H {
    align-self: center;
  }
}
.getStartedButtons:global(.__wab_instance) {
  position: relative;
  margin-top: 0px;
  height: 390px;
  margin-bottom: 0px;
  flex-shrink: 0;
}
.svg__sXpga {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__utmEz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
